.hero_button {
    background-color: #0a165c !important;
    color: #fff !important;
    border-radius: 8px !important;
        transition: all 0.5s ease;

}
.hero_button:hover {
        background-color: #6074edff !important;

}